@{
    string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@T(MvcCore.Unity.Get<JN.Data.Service.ISysSettingService>().Single(1).SysName) | @T(ViewBag.Title)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/Theme/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Theme/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/Theme/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Theme/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="/Theme/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="/Theme/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/Theme/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/Theme/metronic3/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/Theme/metronic3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/Theme/metronic3/css/custom.css" rel="stylesheet" type="text/css" />

    <script src="/Theme/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/Theme/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Theme/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/Theme/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/Theme/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="/Theme/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>

    <!-- END CORE PLUGINS -->

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-sidebar-closed-hide-logo ppage-sidebar-closed-hide-logo page-boxed">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="#" style="line-height: 70px; font-size: 22px; color: #fff; font-family: 微软雅黑">
                    @T(MvcCore.Unity.Get<JN.Data.Service.ISysSettingService>().Single(1).SysName)
                    @*<img src="/Theme/metronic/img/logo.png" alt="logo" class="logo-default" />*@
                </a> 
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN HEADER SEARCH BOX -->
                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
                <form class="search-form" action="extra_search.html" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Search..." name="query">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                        </span>
                    </div>
                </form>
                <!-- END HEADER SEARCH BOX -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        @if (JN.Services.Tool.ConfigHelper.GetConfigBool("MultiLanguage"))
                        {
                        <!-- BEGIN TODO DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-calendar"></i>
                                </a>
                                <ul class="dropdown-menu extended tasks">
                                    <li class="external">
                                        <h3>@T("切换其它语言版本")</h3>
                                    </li>
                                    <li>
                                        <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                            @{
                            IList<JN.Entity.TSysParam> langlist = JN.BLL.sysparams.GetModelList("PID=4000 and IsUse=1 order by sort");
                            if (langlist.Any() && langlist.Count > 0)
                            {
                                foreach (JN.Entity.TSysParam param in langlist)
                                {
                                    <li>
                                        <a href="?lang=@param.Value2">
                                            <span class="task">
                                                <img src="/Language/@(param.Value2).png">
                                                <span>@param.Value</span>
                                            </span>
                                        </a>
                                    </li>
                                }
                            }
                                            }

                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        <!-- END TODO DROPDOWN -->
                        }
                        <li class="separator hide"></li>
                        @{
                            int newuser = JN.BLL.users.GetRecordCount("IsActivation=0 and IsSubAccount=0 and RefereeID=" + JN.BLL.users.IsLogin().ID);
                            int newsubuser = JN.BLL.users.GetRecordCount("IsActivation=0 and IsSubAccount=1 and RefereeID=" + JN.BLL.users.IsLogin().ID);
                            int total = newuser + newsubuser;

                            if (total > 0)
                            {
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                                <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="icon-bell"></i>
                                        <span class="badge badge-success">
                                            @total
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="external">
                                            <h3><span class="bold">@(total)</span> @T("条未读信息")</h3>
                                            <a href="extra_profile.html">view all</a>
                                        </li>
                                        <li>
                                            <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                                @if (newuser > 0)
                                                {
                                                    <li>
                                                        <a href="/user/user/unactivation">
                                                            <span class="time">+@newuser</span>
                                                            <span class="details">
                                                                <span class="label label-sm label-icon label-success">
                                                                    <i class="fa fa-plus"></i>
                                                                </span>
                                                                @T("需要激活的的新会员")
                                                            </span>
                                                        </a>
                                                    </li>
                                                }
                                                @if (newsubuser > 0)
                                                {
                                                    <li>
                                                        <a href="/user/user/subaccount">
                                                            <span class="time">+@newsubuser</span>
                                                            <span class="details">
                                                                <span class="label label-sm label-icon label-success">
                                                                    <i class="fa fa-plus"></i>
                                                                </span>
                                                                @T("需要激活的的子帐号")
                                                            </span>
                                                        </a>
                                                    </li>
                                                }
                                                @{
                                                //系统参数
                                                float PARAM_AGENT_JTGS = JN.Services.Tool.ConfigHelper.StrToInt(JN.BLL.sysparams.GetModel(1801).Value, 0); //成为报单中心所需的直推个数
                                                if (JN.BLL.users.GetRecordCount("RefereeID=" + JN.BLL.users.IsLogin().ID + " and IsActivation=1") >= PARAM_AGENT_JTGS)
                                                {
                                                    if (!JN.BLL.users.IsLogin().IsAgent && String.IsNullOrEmpty(JN.BLL.users.IsLogin().AgentName))
                                                    {
                                                        <li>
                                                            <a href="/user/agent/applyagent">
                                                                <span class="details">
                                                                    <span class="label label-sm label-icon label-danger">
                                                                        <i class="fa fa-bolt"></i>
                                                                    </span>
                                                                    @T("您可以申请报单中心")
                                                                </span>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                                }

                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                            }
                        }
                        <li class="separator hide"></li>

                        @{
                            IList<JN.Entity.TMessage> msglist = JN.BLL.messages.GetModelList("UID=" + JN.BLL.users.IsLogin().ID + " and IsRead=0 and ToUID=" + JN.BLL.users.IsLogin().ID);
                            if (msglist.Any() && msglist.Count > 0)
                            {
                    <!-- BEGIN INBOX DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                                <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="icon-envelope-open"></i>
                                        <span class="badge badge-danger">
                                            @msglist.Count
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="external">
                                            <h3><span class="bold">@msglist.Count</span> @T("条留言信息")</h3>
                                            <a href="/user/mail/inbox">@T("查看所有留言")</a>
                                        </li>
                                        <li>
                                            <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                                @{
                                int i = 0;
                                foreach (JN.Entity.TMessage infor in msglist)
                                {
                                    if (i > 4)
                                    {
                                        break;
                                    }
                                    <li>
                                        <a href="inbox.html?a=view">
                                            <span class="photo">
                                                <img src="/Theme/metronic2/img/avatar2.jpg" class="img-circle" alt="@infor.FormUserName ">
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    @infor.FormUserName
                                                </span>
                                                <span class="time">@JN.Common.DateSpan.Get(infor.CreateTime) </span>
                                            </span>
                                            <span class="message">
                                                @MvcHtmlString.Create(JN.Common.Utils.CutString(infor.Content, 0, 200))
                                            </span>
                                        </a>
                                    </li>
                                    i++;
                                }
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                    <!-- END INBOX DROPDOWN -->

                            }
                        }


                        <li class="separator hide"></li>

                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username username-hide-on-mobile">
                                    @JN.BLL.users.IsLogin().UserName
                                </span>
                                <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                <img alt="@JN.BLL.users.IsLogin().UserName" class="img-circle" src="/Theme/metronic3/img/avatar9.jpg" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="/user/user/myinfo">
                                        <i class="icon-user"></i> @T("个人资料")
                                    </a>
                                </li>
                                @*<li>
                                        <a href="inbox.html">
                                            <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
                                                3
                                            </span>
                                        </a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="extra_lock.html">
                                            <i class="icon-lock"></i> Lock Screen
                                        </a>
                                    </li>*@
                                <li>
                                    <a href="/user/home/changepassword">
                                        <i class="icon-key"></i> @T("修改密码")
                                    </a>
                                </li>
                                <li>
                                    <a href="/user/home/logout">
                                        <i class="fa fa-sign-out"></i> @T("退出系统")
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix"></div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu1" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="heading">
                        <h3>GENERAL</h3>
                    </li>

                    @{
                        List<JN.Entity.TNavigation> depth1 = JN.BLL.navigations.GetModelList("ParentID=0 and IsShow=1 order by sort");
                        foreach (JN.Entity.TNavigation navi1 in depth1)
                        {
                            <li class="@(navi1.Child > 0 ? "start" : "") @((Request.Url.ToString().ToLower().Contains(navi1.Url.ToLower())) ? "active open" : "")">
                                <a href="@(navi1.Child > 0 ? "#" : navi1.Url)">
                                    <i class="fa @(navi1.Icon)"></i>
                                    <span class="title">@T(navi1.Title)</span>
                                    @if (navi1.Child > 0)
                                    {
                                        <span class="arrow "></span>
                                    }
                                </a>
                                @if (navi1.Child > 0)
                                {
                                    <ul class="sub-menu">
                                        @{
                                    List<JN.Entity.TNavigation> depth2 = JN.BLL.navigations.GetModelList("ParentID=" + navi1.ID + " and IsShow=1 order by sort");
                                    foreach (JN.Entity.TNavigation navi2 in depth2)
                                    {
                                        <li class="@((Request.Url.ToString().ToLower().Contains(navi2.Url.ToLower())) ? "active" : "")"><a href="@navi2.Url"><span>@T(navi2.Title)</span></a></li>
                                    }
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    }

                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN PAGE HEAD -->
                <div class="page-head">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>
                            @T(ViewBag.Title)
                        @if (!string.IsNullOrEmpty(ViewBag.Brief))
                        {
                            <small>
                                @T(ViewBag.Brief)
                            </small>
                        }
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-settings"></i>
                        </a>
                        <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <h3>THEME</h3>
                                    <ul class="theme-colors">
                                        <li class="theme-color theme-color-default active" data-theme="default">
                                            <span class="theme-color-view"></span>
                                            <span class="theme-color-name">Dark Header</span>
                                        </li>
                                        <li class="theme-color theme-color-light" data-theme="light">
                                            <span class="theme-color-view"></span>
                                            <span class="theme-color-name">Light Header</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12 seperator">
                                    <h3>LAYOUT</h3>
                                    <ul class="theme-settings">
                                        <li>
                                            Theme Style
                                            <select class="layout-style-option form-control input-small input-sm">
                                                <option value="square" selected="selected">Square corners</option>
                                                <option value="rounded">Rounded corners</option>
                                            </select>
                                        </li>
                                        <li>
                                            Layout
                                            <select class="layout-option form-control input-small input-sm">
                                                <option value="fluid" selected="selected">Fluid</option>
                                                <option value="boxed">Boxed</option>
                                            </select>
                                        </li>
                                        <li>
                                            Header
                                            <select class="page-header-option form-control input-small input-sm">
                                                <option value="fixed" selected="selected">Fixed</option>
                                                <option value="default">Default</option>
                                            </select>
                                        </li>
                                        <li>
                                            Top Dropdowns
                                            <select class="page-header-top-dropdown-style-option form-control input-small input-sm">
                                                <option value="light">Light</option>
                                                <option value="dark" selected="selected">Dark</option>
                                            </select>
                                        </li>
                                        <li>
                                            Sidebar Mode
                                            <select class="sidebar-option form-control input-small input-sm">
                                                <option value="fixed">Fixed</option>
                                                <option value="default" selected="selected">Default</option>
                                            </select>
                                        </li>
                                        <li>
                                            Sidebar Menu
                                            <select class="sidebar-menu-option form-control input-small input-sm">
                                                <option value="accordion" selected="selected">Accordion</option>
                                                <option value="hover">Hover</option>
                                            </select>
                                        </li>
                                        <li>
                                            Sidebar Position
                                            <select class="sidebar-pos-option form-control input-small input-sm">
                                                <option value="left" selected="selected">Left</option>
                                                <option value="right">Right</option>
                                            </select>
                                        </li>
                                        <li>
                                            Footer
                                            <select class="page-footer-option form-control input-small input-sm">
                                                <option value="fixed">Fixed</option>
                                                <option value="default" selected="selected">Default</option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
                <!-- END PAGE TOOLBAR -->
            </div>
            <!-- END PAGE HEAD -->
            <!-- BEGIN PAGE BREADCRUMB -->
            @{
                string path = "";
                switch (controller)
                {
                    case "user":
                        path = "会员管理";
                        break;
                    case "agent":
                        path = "报单中心";
                        break;
                    case "finance":
                        path = "财务管理";
                        break;
                    case "home":
                        path = "";
                        break;
                    case "mail":
                        path = "邮件中心";
                        break;
                    case "market":
                        path = "交易市场";
                        break;
                    case "notice":
                        path = "会员公告";
                        break;
                    default: break;
                }
            }
            <ul class="page-breadcrumb breadcrumb ">
                <li>
                    <a href="/user/home">@T("首页")</a><i class="fa fa-circle"></i>
                </li>
                @if (!string.IsNullOrEmpty(path))
                { 
                <li>
                    <a href="#">@T(path)</a><i class="fa fa-circle"></i>
                </li>
                }
                <li class="active">
                    @T(ViewBag.Title)
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            @RenderBody()
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2014 &copy; Metronic by keenthemes.
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/Theme/global/plugins/respond.min.js"></script>
<script src="/Theme/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/Theme/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/Theme/metronic3/scripts/layout.js" type="text/javascript"></script>
<script src="/Theme/metronic3/scripts/demo.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/theme/neon/assets/js/daterangepicker/daterangepicker-bs3.css">
    <script src="/theme/neon/assets/js/daterangepicker/moment.min.js"></script>
    <script src="/theme/neon/assets/js/daterangepicker/daterangepicker.js"></script>
    <script src="/theme/neon/assets/js/bootstrap-datepicker.js"></script>
    <script src="/theme/neon/assets/js/bootstrap-timepicker.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/Scripts/jn.js"></script>
<!-- END THEME STYLES -->
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function () {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        Demo.init(); // init demo features
        Index.init(); // init index page
    });
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>