@model JN.Data.User
@{
    Layout = "~/Areas/UserCenter/Views/Shared/_Layout" + JN.Services.Tool.ConfigHelper.GetConfigString("Theme") + ".cshtml";
    var cacheSysParam = MvcCore.Unity.Get<JN.Data.Service.ISysParamService>().ListCache("sysparams", x => x.ID < 4000);
}
<!-- page specific plugin styles -->
<link rel="stylesheet" href="/assets/css/jquery-ui-1.10.3.custom.min.css" />
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        @using (Ajax.BeginForm("RepeatInvestment", new { }, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "afterPost" }, new { id = "saveForm", @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="phone">@T(cacheSysParam.Single(x => x.ID == 2002).Name + "可用余额"):</label>

                <div class="col-xs-12 col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon">
                        </span>
                        <input type="text" id="" name="" class="form-control" style="width:123px" value="@Model.Wallet2002.ToString("F2")" readonly />
                        <input type="hidden" id="InvestmentType" name="InvestmentType" class="form-control" style="width:123px" value="@ViewBag.InvestmentType" readonly />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="drawmoney">@T("付款金额"):</label>
                <div class="col-xs-12 col-sm-6">
                    <div class="input-group">
                        <input type="text" id="takenumber" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" style="width:100px" value="0" /><input type="text" style="width: 70px" readonly class="form-control" value="×@(ViewBag.Beisu) = " /><input type="text" name="drawmoney" style="width:100px" class="form-control" value="0" readonly="readonly" />
                        <input type="hidden" id="takemultiple" value="@ViewBag.Beisu">
                    </div>
                    <span style="color:#f00; line-height:25px">*@T("数量必须大于" + ViewBag.MixMoney)</span>

                </div>
            </div>

            @*<div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="phone">@T("付款金额"):</label>

                    <div class="col-xs-12 col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">
                            </span>
                            <input type="text" id="BuyMoney" name="BuyMoney" class="form-control" style="width:123px" value="@ViewBag.Investment" readonly />
                            <input type="hidden" id="CheckMoney" name="CheckMoney" class="form-control" style="width:123px" value="@ViewBag.CheckMoney" readonly />
                            <input type="hidden" id="InvestmentType" name="InvestmentType" class="form-control" style="width:123px" value="@ViewBag.InvestmentType" readonly />
                        </div>
                    </div>
                </div>*@

            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="phone">@T("备注"):</label>

                <div class="col-xs-12 col-sm-5">
                    <textarea name="Remark" class="form-control"></textarea>
                </div>
            </div>

            <div class="hr hr-dotted"></div>

            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        @T("提交")
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="icon-undo bigger-110"></i>
                        @T("重置")
                    </button>
                </div>
            </div>
        }
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- page specific plugin scripts -->
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    function afterPost(data) {
        if (data.Status == 200) {
            alert("@T("复投成功，即将为您跳转页面!")");
            location.href = "@(Url.Action("InvertmentList"))";
        } else {
            alert("@T("复投失败：")" + data.Message);
        }
    }
    jQuery(function ($) {
        $("#takenumber").on('keyup', function () {
            $("input[name='drawmoney']").val(parseInt($("#takenumber").val()) * parseInt($("#takemultiple").val()));
            //$("input[name='actualdrawmoney']").val(parseFloat($("#takenumber").val()) * parseFloat($("#takemultiple").val()) * (1 - parseFloat($("#poundage").val())));
        });
    });
</script>